* {
    box-sizing: border-box;
}
html, body{
	margin: 0;
	font-size: 4vh;
	font-family: 'Montserrat', sans-serif;
}
article {
	width: 100%;
	height: 100vh;
}
nav {
	position:fixed;
	bottom: 3em;
	right:3%;
	font-size:1.25em;
	word-spacing:1vw;
	
}
h3 {
	padding-left:3%;
	font-size: 4vh;
	vertical-align:middle;
}
a {
	display: inline-block;
	color:orange;
	text-decoration: none;
	text-shadow: 2px 2px black;
	top:-20px;
}
a:hover {
	position:relative;
}
img.a {
	vertical-align: middle;
}
p {
	padding-left:3%;
	margin:0;
	font-weight:700;
}
#header {
	color:orange;
	padding-left:3%;
	margin:0;
	font-size: 2.25em;
	text-shadow: 2px 2px black;
	font-weight:bolder;
}
b {
	color:black;
}
#home {
	background-image: url('../images/cat.jpg');
	background-size:cover;
	background-repeat:no-repeat;
}
#schedule{
	font-size:3vh;
	color:orange;
	vertical-align:text-top;
	border-color:orange;
	border-style: solid;
	border-radius: 25px;
}
td {
	vertical-align: top;
	text-align: left;
}
td:nth-child(1){
	padding-right:0.3vw;
}
.popup {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.8);
	padding: 1em;
	width: auto;
	height: auto;
	color: white;
}
.popup img:nth-child(1) {
	position: fixed;
	top: -0.5em;
	right: -0.5em;
	cursor: pointer;
}

#pawf{
	display: none;
	position:absolute;
	height: 20px;
}
#paw{
	text-align: center;
	position:relative;
}
#contact, #about{
	display:none;
}
