html, body{
	margin: 0;
	font-size: 3vh;
	font-family: "Open Sans", sans-serif;
	overflow:hidden;
}
body {
	height:100%;
	width:100%;
}
a {
	color:white;
	text-decoration: none;
	margin-left: 0.5rem;
	
}
article {
	width: 100vw;
	height: 100vh;
}
header {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	padding-top:5vh;
	padding-bottom:5vh;
	padding-left:2vw;
	color:white;
}
#logo {
	float: left;
	font-size:2rem;
	padding-left: 5vw;
}
#home1 {
	background-image: url('../images2/musiclife.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#home1 > div:nth-child(1){
	text-align:center;
	font-size: 1rem;
	color:white;
	position:absolute;
	top: 53%;
	transform:translatey(-50%);
	width:100%;
}
#home1 > div:nth-child(2) {
	text-align:center;
	font-size: 1rem;
	color:white;
	position:absolute;
	top: 20%;
	transform:translatey(-50%);
	width:100%;
}
#home1 a {
	transition: transform 0.5s;
}

a:hover {
	transform: scale(1.5);
}
#home1 a:nth-child(1) {
	text-transform:uppercase;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	width: 10vw;
	margin-right:25vw;
}
#home1 a:nth-child(2) {
	text-transform:uppercase;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	width: 10vw;
	margin-left:25vw;
}


#button2 {
	border-radius: 50px;
	background-color: ;
	color: white;
	text-align: center;
	padding: 16px 46px;*/
	padding-bottom: 17px;
	padding-top: 17px;
	padding-left: 40px;
	padding-right: 55px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	vertical-align: middle;
	font-weight:bold;
}
#button {
	border-radius: 50px;
	color:white;
	text-align: center;
	/*padding: 16px 46px;*/
	padding-bottom: 17px;
	padding-top: 17px;
	padding-left: 40px;
	padding-right: 55px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	vertical-align: middle;
	font-weight:bold;

	/*background: radial-gradient(ellipse 
	farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
	radial-gradient(ellipse 
	farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);*/
}
#ticketlogo {
	height:10vh;
}


.popup {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: auto;
	height: auto;
	color: white;
	opacity:0.9;
	/*background: #E55D87;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to right, #4D8A9F, #A95B7A);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to right, #4D8A9F, #A95B7A);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-color:rgba(0,0,0,0.8);
}

.popup svg:nth-child(1) {
	position: fixed;
	top: -0.5em;
	right: -0.5em;
	cursor: pointer;
}
#contact{
    position: fixed;
    display: inline-flex;
    flex-flow: row space;
    bottom: 0;
    z-index: 1000;
    text-align: center;
    border-radius: 2em;
    width: 100%;
    justify-content: center;
}
#contact div:hover{
    opacity: 1;
}
#contact div{
    height: 4em;
    width: 4em;
    padding: 3em;
    text-align: center;
    opacity: .5;
    
}
#contact div {

	padding:0 1em;
	margin-bottom: .5em;
}
#c1{background-color:#6e5494;}
#c2{background-color: #0077B5;}
#c3{background:gold;}
